<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
                <h2 class="text-primary text-center">aabaBot - SaaS Wizard</h2>


                

        </div>
      </div>
   
      <br/>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Downloads</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Resources</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
            </div>
        </div>
      </div>
</div>