<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary main-nav" id="aababot-navbar">
  <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="flex-1">
          <!--spacer-->
      </div>
      <div class="order-first order-md-0 d-flex justify-content-center">
        <a class="navbar-brand me-2" href="/">
          <img src="/img/logo.png" alt="" height="60" loading="lazy" style="margin-top: -10px;"/>
          aabaBot
        </a>
        <ul class="navbar-nav navbar-nav me-auto mb-2 mt-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#Home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#OurFans">Our Fans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Benefits">Benefits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#EBook">E-Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://blog.aababot.com">Blog</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end">
          <ul class="nav navbar-nav ml-auto">
              <li class="">
                  <a class="btn btn-secondary" href="/account/signin">Sign In</a>
              </li>
          </ul>
      </div>
  </div>
</nav>