<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-title text-primary text-center">Share with Friends & Colleagues</div>
            <div class="card-body">
                <!-- Facebook (url) -->
                <a href="https://www.facebook.com/sharer/sharer.php?u=<URL>" class="btn zocial facebook">
                    Facebook
                </a>
                <!-- LinkedIn (url, title, summary, source url) -->
                <a href="https://www.linkedin.com/shareArticle?url=<URL>&title=<TITLE>&summary=<SUMMARY>&source=<SOURCE_URL>" class="btn zocial linkedin">
                    LinkedIn
                </a>
                <!-- Twitter share -->
                <a href="https://twitter.com/share?url=<URL>&text=<TEXT>via=<USERNAME>" class="btn zocial twitter" >
                    Twitter
                </a>
            </div>
        </div>
    </div>
</div>