<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>startupcode - Scaffold your next platform!</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/materialize-stepper@3.1.0/dist/css/mstepper.min.css" />
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <header class="navbar-fixed">
    <nav class="blue navbar-fixed menu" data-target="menu">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">startupcode.io</a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a class="active-link" href="#home">Home</a>
            </li>
            <li>
              <a class="" href="#whyuseit">Why Use It?</a>
            </li>
            <li>
              <a href="#features">Features</a>
            </li>
            <li>
              <a href="#pricing">Pricing</a>
            </li>
            <li>
              <a href="#testimonials">Testimonials</a>
            </li>
            <li>
              <a href="#login-modal" class="btn green modal-trigger">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</header>
    
    <%- body %> 
    <footer class="bluer">
      <nav class="blue navbar-fixed menu" data-target="menu">
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">Copyright &copy; aabaBot inc.</a>
            <ul class="right hide-on-med-and-down">
              <li>
                <a href="https://facebook.com/aababotcsfinch">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/csfinch">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://instagram.com/csfinch">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </footer>
  <!-- login modla -->
   <!-- Login Modal -->
   <div id="login-modal" class="modal">
    <div class="modal-content">
      <h4>Account Login</h4>
      <p>Login to access your account dashboard</p>
      <form>
        <div class="input-field">
          <input type="email" id="email">
          <label for="email">Email</label>
        </div>
        <div class="input-field">
          <input type="password" id="password">
          <label for="password">Password</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close btn grey">
        <i class="fa fa-sync"></i> Reset Password</a>
      <a href="#!" class="modal-action modal-close btn purple">
        <i class="fa fa-lock"></i> Login</a>
    </div>
  </div>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://unpkg.com/materialize-stepper@3.1.0/dist/js/mstepper.min.js"></script>
  <script src="https://checkout.stripe.com/checkout.js" defer></script>
  <script>
        $( document ).ready(function(){

$(".dropdown-trigger").dropdown();
$('.scrollspy').scrollSpy();
$(document).scroll(function(){
    var elems = document.querySelectorAll('.scrollspy');
var instances = M.ScrollSpy.init(elems);

        for(let i=0;i<instances.length;i++){
    if(instances[i].tickId>0)
    {
        var current_scroll=instances[i].el.id;
        $("#logo").html(current_scroll);
        break;
    }
}
});



  
});
     </script>

  </body>
</html>