  <!-- Header -->
  <!-- Showcase -->
  <div id="home" class="showcase container">
    <div class="row">
      <div class="col s12 m10 offset-m1 center">
        <h1>startupcode.io</h1>
        <h3>Where Future SaaS Platforms begin.</h3>
        <p>Start your next SaaS platform with our template and automated tools.</p>
        <br>
        <br>
        <a href="/service/tryit" class="btn btn-large white blue-text">Try for Free</a>
        <a href="/account/signup" class="btn btn-large blue white-text">Sign Up</a>
      </div>
    </div>
  </div>
</header>

  <!-- Section: Icon Boxes -->
  <section id="howitworks" class="section section-icons center">
    <div class="container">
      <div class="row">
        <div class="col s12 m4">
          <div class="card-panel">
            <i class="fa fa-user fa-3x blue-text text-darken-2"></i>
            <h5 class="grey-text text-darken-4">Free Account</h5>
            <p>Get the Template that powers all our SaaS platforms.  Once you signup with a free account.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel">
            <i class="fa fa-database fa-3x blue-text text-darken-2"></i>
            <h5 class="grey-text text-darken-4">Any Relational Database</h5>
            <p>Scaffold any Relational Database in seconds.  PostgreSQL, MariaDB, MySQL, MS SQL</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel">
            <i class="fa fa-bolt fa-3x blue-text text-darken-2"></i>
            <h5 class="grey-text text-darken-4">Fast Delivery</h5>
            <p>Download your code after a few seconds after you upload your db schema file.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: About -->
  <section id="features" class="section section-about grey lighten-4">
    <div class="container">
      <h3 class="header blue-text center">Features</h3>
    <!-- First row of features try to do 3-5 features-->
    <div class="row center" style="min-height: 300px;">
      <div class="col s6">
       <h3 class="header s6 blue-text">Express.js</h3>
       <p>Express.js is an unobtrusive minimalist web framework that gives you the core features needed when building web apps.</p>
      </div>
      <div class="col s6">
        <img src="img/express.png" />
      </div>
    </div>
    <!-- Second row of features-->
    <div class="row center" style="min-height: 300px;">
      <div class="col s6" >
        <img class="left-align" src="img/passportjs.png" />
      </div>
      <div class="col s6">
        <h3 class="header s6 blue-text">Passport.js</h3>
        <p class='center'>Passport.js is a simple unobtrusive authentication & industry standard to authenticate any user for any web app.  With plugins for Single Sign-On, to Active Directory it's very customizable for any app.</p>
       </div>
    </div>
    <!-- Third row of features-->
    <div class="row center" style="min-height: 300px;">
      <div class="col s6">
        <h3 class="header s6 blue-text">Stripe</h3>
        <p class='center'>The new standard in online payments.  Stripe is the best software platform for running internet businesses.</p>
       </div>
       <div class="col s6">
        <img class="left-align" src="img/stripe.png" />
      </div>
    </div>
    <div class="row center" style="min-height: 300px;">
      <div class="col s6">
        <img class="left-align" src="img/sequelize.png" />
      </div>
      <div class="col s6">
        <h3 class="header s6 blue-text">Sequelize</h3>
        <p class='center'>Sequelize is a promise-based Node.js ORM for Postgres, MySQL, MariaDB, SQLite and Microsoft SQL Server. It features solid transaction support, relations, eager and lazy loading, read replication and more..</p>
       </div>
    </div>
    </div>
  </section>
  <!-- Section: Developers -->
  <section class="section section-developers white-text">
    <div class="primary-overlay valign-wrapper">
      <div class="container">
        <div class="row">
          <div class="col s12 center">
            <h3>For Developers, By Developers</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Languages -->
  <section id="pricing" class="section section-language grey lighten-4">
    <div class="container">
      <div class="row">
        <h4 class="center">Our 
          <span class="blue-text text-darken-1"> Prices</span>
        </h4>
        <br>
        <br>
        <div class="row">
          <div class="col s2">
            <img src="img/python-logo.png" class="responsive-img" alt="">
          </div>
          <div class="col s2">
            <img src="img/ruby-logo.png" class="responsive-img" alt="">
          </div>
          <div class="col s2">
            <img src="img/php-logo.png" class="responsive-img" alt="">
          </div>
          <div class="col s2">
            <img src="img/node-logo.png" class="responsive-img" alt="">
          </div>
          <div class="col s2">
            <img src="img/c-sharp-logo.png" class="responsive-img" alt="">
          </div>
          <div class="col s2">
            <img src="img/java-logo.png" class="responsive-img" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: blog post plug -->
  <section class="section section-blog white-text">
    <div class="primary-overlay valign-wrapper">
      <div class="container">
        <div class="row">
          <div class="col s12 m8">
            <h4>Read our blog</h4>
            <p>New Blog post published every MWF @ 11am EST.</p>
          </div>
          <div class="col s12 m4">
            <a href="https://www.startupcodeblog.io" class="btn blue btn-large">
              <i class="fa fa-book"></i> Read Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Testimonial -->
  <section id="testimonials" class="section section-testimonial grey lighten-4">
    <div class="container">
      <h3 class="blue-text center">Our Testimonials</h3>
      <div class="row">
        <div class="col s12 center">

              <h2>Rusty Davis</h2>
              <img class="responsive-img circle" src="img/russelldavis.jpg">
              <p>
                "StartupCode generates a shell site with default set of features that fast forward my projects.  It's a no brainer!"
                <p>
                  <em>- Rusty Davis</em>
                </p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
