
<section class="container col-xl-10 col-xxl-8 px-4 py-5" id="Home">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-5 fw-bold lh-1 mb-3 text-primary">We Help Build SaaS Platforms through Automation</h1>
          <p class="display-5 fw-bold lh-1 mb-3 text-secondary">We Help You Build SaaS Platforms with One Easy Click of a Button.</p>
          <a class="btn btn-primary btn-lg" href="/account/signup">Get Started Now</a>
          <a class="btn btn-secondary btn-lg" href="#EBook">Download E-Book</a>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
          <img src="/img/screenshot.webp" />
        </div>
      </div>
</section>
<div class="b-example-divider" id="OurFans"></div> 
<section class="px-4 pt-5 my-5 text-center border-bottom" >
    <div class="container">
      <h1 class="display-5 fw-bold text-primary">Our Fans</h1>
        <div class="row">
            <div class="col-lg-10 col-xl-8 mx-auto">
                <div class="p-5 bg-white shadow rounded">
                    <!-- Bootstrap carousel-->
                    <div class="carousel slide" id="quoteCarousel" data-ride="carousel">
                        <!-- Bootstrap carousel indicators [nav] -->
                        <ol class="carousel-indicators mb-0">
                            <li class="active" data-target="#quoteCarousel" data-slide-to="0"></li>
                            <li data-target="#quoteCarousel" data-slide-to="1"></li>
                            <li data-target="#quoteCarousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Bootstrap inner [slides]-->
                        <div class="carousel-inner px-5 pb-4">
                            <!-- Carousel slide-->
                            <div class="carousel-item active">
                                <div class="media"><img class="rounded-circle img-thumbnail" src="/img/testimonials/hankPR.webp" alt="" width="75">
                                    <div class="media-body ml-3">
                                        <blockquote class="blockquote border-0 p-0">
                                            <p class="font-italic lead"> <i class="fa fa-quote-left mr-3 text-primary"></i>I must admit I was skeptical at first, but when I saw aabaBot in action, I became a believer. It generates the lion's share of code for a turnkey SaaS app faster than I could blink my eye. A real time and money saver..</p>
                                            <footer class="blockquote-footer">Hank Edar
                                                <cite title="Source Title">PR/Marketing Pro</cite>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <!-- Carousel slide-->
                            <div class="carousel-item">
                                <div class="media"><img class="rounded-circle img-thumbnail" src="/img/testimonials/RicBizDev.webp" alt="" width="75">
                                    <div class="media-body ml-3">
                                        <blockquote class="blockquote border-0 p-0">
                                            <p class="font-italic lead"> <i class="fa fa-quote-left mr-3 text-primary"></i>aabaBot is a GOD SEND! To anyone that is building a SaaS Platform, you're going to be surprised! I am speechless in its ability to save me from all that code, without mentioning  the frustration ,back breaking time and the ridiculously cheap cost. It is a GAME CHANGER. I totally recommend aabaBot..</p>
                                            <footer class="blockquote-footer">Richard Kroll
                                                <cite title="Source Title">Herb & Supplement CEO</cite>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <!-- Carousel slide-->
                            <div class="carousel-item">
                                <div class="media"><img class="rounded-circle img-thumbnail" src="https://pbs.twimg.com/profile_images/1273307847103635465/lfVWBmiW_400x400.png" alt="" width="75">
                                    <div class="media-body ml-3">
                                        <blockquote class="blockquote border-0 p-0">
                                            <p class="font-italic lead"> <i class="fa fa-quote-left mr-3 text-primary"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <footer class="blockquote-footer">Someone famous in
                                                <cite title="Source Title">Source Title</cite>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Bootstrap controls [dots]-->
                        <a class="carousel-control-prev width-auto" href="#quoteCarousel" role="button" data-slide="prev">
                            <i class="fa fa-angle-left text-dark text-lg"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next width-auto" href="#quoteCarousel" role="button" data-slide="next">
                            <i class="fa fa-angle-right text-dark text-lg"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="b-example-divider" id="WhyChooseaabaBot"></div>
<section class="container col-xl-10 col-xxl-8 px-4 py-5">
  <h1 class="text-center text-primary">Why Choose aababot</h1>
  <div class="row align-items-center g-lg-5 py-5">
    
  </div>
</section>
<div class="b-example-divider" id="Features"></div>
<section class="container col-xl-10 col-xxl-8 px-4 py-5">
  <h1 class="text-center text-primary">Features</h1>
  <div class="container">
    <div class="row">
        <div class="col s3">
            <div class="card white darken-1">
                <div class="card-content center">
                    <img src="img/tech/express.webp" class="card-img-top"/>
                    <div class="card-title text-primary text-center"><h3>Express</h3></div>
                    <p>a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications</p>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card white darken-1">
                <div class="card-content center">
                    <img src="img/tech/passport.webp" class="card-img-top"/>
                    <div class="card-title text-primary text-center"><h3>Passport.js</h3></div>
                    <p>A comprehensive set of strategies support authentication using a username and password, Facebook, Twitter, and more.</p>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card white darken-1">
                <div class="card-content center">
                    <img src="img/tech/docker-img.webp" class="card-img-top"/>
                    <div class="card-title text-primary text-center"><h3>Docker</h3></div>
                    <p>Docker assures all apps are containerized out of the box and deployable!</p>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card white darken-1">
                <div class="card-content center">
                    <img src="img/tech/kubernetes-img.webp" class="card-img-top"/>
                    <div class="card-title text-primary text-center"><h3>Kubernetes</h3></div>
                    <p>Kubernetes allows low maintenance and high availability</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col s3">
            <div class="card white darken-1">
                <div class="card-content justify-content-center">
                    <img src="img/tech/stripe-img.webp" class="card-img-top"/>
                    <div class="card-title text-primary text-center"><h3>Stripe</h3></div>
                    <p>You can accept payments & recurring billing using stripe out-of-the-box!</p>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card white darken-1">
                <div class="card-content center">
                    <img src="img/tech/bootstrap-img.webp" class="card-img-top"/>
                    <div class="card-title text-primary text-center"><h3>Bootstrap 5</h3></div>
                    <p>Responsive UI/UX for desktop and mobile and easy to customize.</p>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card white darken-1">
                <div class="card-content center">
                    <img src="img/tech/sendgrid-img.webp" class="card-img-top"/>
                    <div class="card-title text-primary text-center"><h3>SendGrid API</h3></div>
                    <p>Send your users an email with their invoice with SendGrid integration!</p>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card white darken-1">
                <div class="card-content center">
                    <img src="img/tech/sso-img.webp" class="card-img-top"/>
                    <div class="card-title text-primary text-center"><h3>Growth Hack Share Tools</h3></div>
                    <p>Give your users an incentive like a discount before upgrading to a higher tier subscription to share your app!</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path class="blue-checkmark" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  </symbol>
</svg>
<div class="b-example-divider" id="Pricing"></div>
<section class="container my-5" >
  <h1 class="display-5 fw-bold text-primary text-center">Pricing</h1>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3 text-primary">
          <h4 class="my-0 fw-normal">Starter</h4>
        </div>
        <div class="card-body d-flex flex-column">
          <h1 class="card-title pricing-card-title">FREE </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>SaaS Starter Template</li>
            <li>Invitation to Our Slack Channel</li>
            <li>Bootstrap Template</li>
            <li>Free E-Book</li>
          </ul>
        </div>
        <div class="card-footer">
          <button type="button" class="align-self-end w-100 btn btn-lg btn-success">Get it Now</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$49<small class="text-muted fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Starter version Features</li>
            <li>Multiple Bootstrap Landing Pages</li>
            <li>User Authentication </li>
            <li>Stripe Subscription</li>
            <li>Front-End Growth Hacking Share Tool</li>
            <li>Docker Build & Docker-Compose Files</li>
          </ul>
        </div>
        <div class="card-footer">
          <button type="button" class="w-100 btn btn-lg btn-primary">Subscribe Now</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm ">
        <div class="card-header py-3 text-primary">
          <h4 class="my-0 fw-normal">Enterprise</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$499<small class="text-muted fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Pro version Features</li>
            <li>Extra Stripe Functionality</li>
            <li>(Update Billing, Upgrade Subscription, Cancel Subscription)</li>
            <li>Admin back-end with CRUD operations</li>
            <li>Integration with GitHub Repo</li>
            <li>Kubernetes files for easy deployment</li>
          </ul>
        </div>
        <div class="card-footer">
          <button type="button" class="w-100 btn btn-lg btn-primary">Subscribe Now</button>
        </div>
      </div>
    </div>
  </div>
  <h2 class="display-6 text-center mb-4 text-primary">Compare plans</h2>
  <div class="table-responsive">
    <table class="table table table-striped text-center">
      <thead>
        <tr>
          <th style="width: 34%;"></th>
          <th style="width: 22%;">Free</th>
          <th style="width: 22%;">Pro</th>
          <th style="width: 22%;">Enterprise</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-start">SaaS Starter Template</th>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">User Authentication</th>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Front-End Growth Hacking Share Tool</th>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Stripe Subscription</th>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Docker Build & Docker-Compose Files</th>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Extra Stripe Functionality</th>
          <td></td>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Admin back-end with CRUD operations</th>
          <td></td>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Integration with GitHub Repo</th>
          <td></td>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Kubernetes files for easy deployment</th>
          <td></td>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
      </tbody>
    </table>
  </div>
  </section>
<div class="b-example-divider" id="EBook"></div> 
<section class="container col-xl-10 col-xxl-8 px-4 py-5" >
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-5 fw-bold lh-1 mb-3 text-primary">Download Our FREE E-Book</h1>
      <p class="display-5 fw-bold lh-1 mb-3 text-secondary">Find out how aabaBot was made!  Learn the  skeleton template used to build aabaBot</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-light">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Download Now</button>
        <hr class="my-4">
        <small class="text-muted">By clicking Download Now, you agree to the terms of use.</small>
      </form>
    </div>
  </div>
</section>



    